@media only screen and (max-width: 1888px) {
  .sing_up {
    h1 {
      font-size: 38px;
      left: 600px !important;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 22px;
      left: 450px !important;
    }
  }

  .sing_up input {
    max-width: 525px;
    height: 50px;
    position: relative;
    bottom: 100px;
    margin-left: 450px !important;

    input::placeholder {
      color: #eaeaea;
      opacity: 0.7;
    }
  }

  .btn-accept2 {
    font-size: 18px;
    max-width: 100px;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 1740px) {
  .banner {
    &_clouds_with_iphone {
      height: 744px !important;
      top: 100px !important;
    }

    &_clouds_with_iphone img {
      right: 1510px !important;
    }

    &_left {
      right: 940px !important;

      h1 {
        font-size: 42px !important;
      }

      p {
        font-size: 22px !important;
        margin-top: 35px !important;
      }
    }
  }
  .rigth_side {
    max-width: 700px !important;
    position: relative;
    height: 580px !important;
    bottom: 860px;
    float: right;
    display: block;
  }
  .why_different {
    max-width: 1740px;

    .slide {
      margin-top: 300px !important;
      margin-left: 890px;
      position: relative;
      display: block;
      a {
        text-decoration: none;
        color: #9499a2;
        position: relative;
        margin-right: 40px;
        bottom: 130px;
        font-size: 20px;
      }

      .bl {
        text-align: center;
        justify-content: center;
        max-width: 30px;
        height: 30px;
        background: rgb(22, 226, 216);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        color: white;
        font-size: 20px;
        padding: 10px;
        right: 60px;
        top: 38px;
        position: relative;
        display: block;
      }
    }
  }
}
@media only screen and (max-width: 1576px) {
  .banner {
    &_clouds_with_iphone {
      height: 744px !important;
      top: 100px !important;
    }

    &_clouds_with_iphone img {
      right: 1410px !important;
    }

    &_left {
      right: 840px !important;

      h1 {
        font-size: 42px !important;
      }

      p {
        font-size: 22px !important;
        margin-top: 35px !important;
      }
    }
  }
}

@media only screen and (max-width: 1534px) {
  .sing_up {
    max-width: 1534px !important;
    h1 {
      font-size: 38px;
      left: 550px !important;
    }

    h2 {
      font-size: 22px;
      left: 400px !important;
    }
  }

  .sing_up input {
    max-width: 525px;
    height: 50px;
    position: relative;
    bottom: 100px;
    margin-left: 450px !important;

    input::placeholder {
      color: #eaeaea;
      opacity: 0.7;
    }
  }

  .btn-accept2 {
    font-size: 18px;
    max-width: 100px;
    border-radius: 5px;
    margin-right: 650px !important;
  }
}
@media only screen and (max-width: 1479px) {
  .banner {
    &_clouds_with_iphone {
      height: 744px !important;
      top: 100px !important;
    }

    &_clouds_with_iphone img {
      right: 1210px !important;
    }

    &_left {
      right: 640px !important;

      h1 {
        font-size: 42px !important;
      }

      p {
        font-size: 22px !important;
        margin-top: 35px !important;
      }
    }
  }
  .why_different {
    h1 {
      font-size: 40px;
      color: #4c5767;
      position: relative;
      left: 500px !important;
      top: 100px;
    }
    .slide {
      margin-top: 180px !important;
      margin-left: 700px !important;
    }
  }
  .sing_up {
    max-width: 1479px !important;
    h1 {
      font-size: 38px;
      left: 450px !important;
    }

    h2 {
      font-size: 22px;
      left: 300px !important;
    }
  }
  .btn-accept2 {
    font-size: 18px;
    max-width: 100px;
    border-radius: 5px;
    margin-right: 450px !important;
  }
}
@media only screen and (max-width: 1278px) {
  .sing_up {
    max-width: 1278px !important;
    margin-top: -180px !important;
    h1 {
      font-size: 32px;
      left: 350px !important;
    }

    h2 {
      font-size: 22px;
      left: 200px !important;
    }
  }
  .sing_up input {
    max-width: 525px;
    height: 50px;
    position: relative;
    bottom: 100px;
    margin-left: 350px !important;

    input::placeholder {
      color: #eaeaea;
      opacity: 0.7;
    }
  }
  .btn-accept2 {
    font-size: 18px;
    max-width: 100px;
    border-radius: 5px;
    margin-right: 250px !important;
  }
}
@media screen and (max-width: 1370px) {
  .why {
    h1 {
      font-size: 36px !important;
      height: 171px;
      margin-top: 90px;
      margin-left: 792px;
      text-transform: uppercase;
      font: "Ubuntu" bold;
    }
    .t_a {
      margin-left: 550px !important;
    }
  }
  .rigth_side {
    max-width: 600px !important;
    height: 580px !important;
  }
}
@media screen and (max-width: 1300px) {
  .wrapper {
    max-width: 1300px;
    .header {
      &__container {
        max-width: 1300px;
        padding: 45px 40px !important;
        .logo img {
          width: 150px;
        }
        .header_burger_menu {
          li {
            list-style: none;
            margin: 10px !important;
            a {
              font-size: 13px !important;
            }
          }
        }
      }
    }
    /* header */
    /* main */

    .page {
      max-width: 1300px;
      .banner {
        height: 658px;

        .banner_clouds_with_iphone {
          background-size: contain;
        }

        .banner_clouds_with_iphone img {
          background-size: contain;
          right: 1070px;
          bottom: 50px;
          height: 500px;
        }

        .banner_left {
          right: 640px;

          h1 {
            font-size: 32px;
          }

          p {
            font-size: 14px;
            margin-top: 35px;
          }
        }
        .form {
          .btn-accept {
            font-size: 14px;
          }
        }
      }
      .clients {
        width: 1300px;
        background-size: contain;
      }
    }
  }
}

@media only screen and (max-width: 1266px) {
  .banner {
    &_clouds_with_iphone {
      height: 744px !important;
      top: 100px !important;
    }

    &_clouds_with_iphone img {
      right: 1080px !important;
    }

    &_left {
      right: 540px !important;

      h1 {
        font-size: 32px !important;
      }

      p {
        font-size: 22px !important;
        margin-top: 35px !important;
      }
    }
  }
  .why {
    .t_a {
      margin-left: 350px !important;
    }
    .left_side {
      max-width: 400px !important;
      height: 780px;
      margin-left: 130px;
      position: relative;
      bottom: 100px;
      display: block;
      img {
        position: relative;
        top: 5px;
        right: 10px;
      }

      h2 {
        color: #4c5767;
        font-size: 22px;
        padding: 20px;
      }
      p {
        color: #9499a2;
        margin-left: 17px !important;
      }
    }
    .rigth_side {
      max-width: 500px !important;
      left: 100px;
      height: 580px !important;
    }
    .rigth_side img {
      background-size: contain !important ;
    }
  }
  .why_different {
    h1 {
      left: 400px !important;
    }
    h2 {
      color: #4c5767;
      font-size: 22px;
      margin-top: 200px !important;
      margin-left: 150px;
    }
    p {
      color: #9499a2;
      margin-left: 160px;
      margin-top: 20px;
      width: 500px;
    }
    .slide {
      margin-top: 220px !important;
      margin-left: 600px !important;
    }
  }
}

@media only screen and (max-width: 1140px) {
  .wrapper {
    max-width: 1140px;
    .banner {
      &_clouds_with_iphone {
        height: 644px !important;
        top: 195px !important;
      }

      &_clouds_with_iphone img {
        right: 800px !important;
        top: 1px !important;
        height: 400px !important;
      }

      &_left {
        right: 340px !important;

        h1 {
          font-size: 30px !important;
        }

        p {
          font-size: 16px !important;
          margin-top: 35px !important;
        }
        .form {
          .btn-accept {
            cursor: pointer;
            font: "Ubuntu" bold;
            font-size: 14px !important;
            max-width: 80px !important;
            top: 0px !important;
            position: relative !important;
            left: 0 !important;
            bottom: 0 !important;
            margin-left: -186px;
          }
        }
      }
    }
  }
  .why_different {
    h1 {
      left: 250px !important;
      font-size: 32px !important;
    }
    h2 {
      color: #4c5767;
      font-size: 22px;
      margin-top: 200px !important;
      margin-left: 150px;
    }
    p {
      color: #9499a2;
      margin-left: 160px;
      margin-top: 20px;
      width: 500px;
    }
    .slide {
      margin-top: 130px !important;
      margin-left: 450px !important;
    }
    .bl {
      padding: 10px;
      right: 60px;
      top: 28px !important;
      position: relative;
      display: block;
    }
  }
  .footer__container {
    max-width: 1140px;
    display: block;
    justify-content: center;
    padding: 70px 100px;
    padding-bottom: 80px;
    .logo_b img {
      display: block;
      width: 120px !important;
    }
    button {
      width: 30px;
      height: 30px;
      background: none;
      border: none;
      font-size: 30px;
      float: right;
      display: block !important;
      position: relative;
      left: 50px;
      bottom: -5px;
    }
  }
  .footer_menu {
    .footer_menu__list {
      display: none !important;
    }
  }
}
@media only screen and (max-width: 1057px) {
  .sing_up {
    max-width: 1057px !important;
    margin-top: -180px !important;
    h1 {
      font-size: 26px !important;
      left: 250px !important;
    }

    h2 {
      font-size: 18px !important;
      left: 100px !important;
    }
  }
  .sing_up input {
    max-width: 525px;
    height: 50px;
    position: relative;
    bottom: 150px !important;
    margin-left: 220px !important;

    input::placeholder {
      color: #eaeaea;
      opacity: 0.7;
    }
  }
  .btn-accept2 {
    font-size: 18px;
    max-width: 100px;
    border-radius: 5px;
    margin-right: 250px !important;
    margin-top: -200px !important;
  }
}
@media screen and (max-width: 900px) {
  .wrapper {
    max-width: 900px;
    .header {
      &__container {
        max-width: 900px;
        padding: 45px 10px !important;
        .logo img {
          width: 150px;
          position: relative;
          left: 12px;
        }
        .header__menu {
          flex: 1 1 auto;
          margin-right: 100px;
          float: right;
          bottom: 30px;
          button {
            width: 30px;
            height: 30px;
            background: none;
            border: none;
            font-size: 30px;
            float: right;
            display: block;
            position: relative;
            left: 50px;
            bottom: 5px;
          }
          .menu {
            position: relative;
            top: 30px;
            width: 100px;
            justify-content: center;
            align-items: center;
            text-align: center;
            float: right;
            z-index: 0;
            display: none;
            li {
              justify-content: center;
              position: relative;
              right: 100px !important;
              a {
                text-decoration: none;
                text-transform: uppercase;
                // letter-spacing: 1.2px;
                color: #949aa4;
                font-size: 12px;
                font-family: "Ubuntu", sans-serif;
                display: block;
              }
            }
            li + li {
              border-top: 1px solid #949aa4;
            }
          }
        }
      }
    }
    .why {
      .t_a {
        margin-left: 300px !important;
      }
      .left_side {
        max-width: 300px !important;
        height: 780px;
        margin-left: 80px;
        position: relative;
        bottom: 100px;
        display: block;
        img {
          position: relative;
          top: 5px;
          right: 10px;
        }

        h2 {
          color: #4c5767;
          font-size: 19px;
          padding: 20px;
        }
        p {
          color: #9499a2;
          margin-left: 17px !important;
        }

        .circles {
          background: url(../images/circles.png) no-repeat;
          background-size: contain !important;
        }
      }
      .rigth_side {
        max-width: 500px !important;
        left: 100px;
        height: 580px !important;
      }
      .rigth_side img {
        background-size: contain !important ;
      }
    }
  }
  .why_different {
    background-size: contain !important;
    background-repeat: no-repeat;
    top: -170px !important;
    height: 700px !important;
    h1 {
      left: 180px !important;
      font-size: 28px !important;
    }
    h2 {
      color: #4c5767;
      font-size: 22px;
      margin-top: 120px !important;
      margin-left: 100px !important;
    }
    p {
      color: #9499a2;
      font-size: 14px !important;
      margin-left: 110px !important;
      margin-top: 20px;
      width: 360px !important;
    }
    .slide {
      margin-top: 130px !important;
      margin-left: 330px !important;
    }
    .bl {
      padding: 10px;
      right: 60px;
      top: 28px !important;
      position: relative;
      display: block;
    }
  }
}
@media only screen and (max-width: 850px) {
  .wrapper {
    max-width: 850px;
    .banner {
      &_clouds_with_iphone {
        background: none !important;
        height: 344px !important;
        top: 100px !important;
      }

      &_clouds_with_iphone img {
        right: 672px !important;
        top: 1px !important;
        height: 400px !important;
      }

      &_left {
        right: 290px !important;

        h1 {
          font-size: 30px !important;
        }

        p {
          font-size: 13px !important;
          margin-top: 35px !important;
        }
        .form {
          .btn-accept {
            cursor: pointer;
            font: "Ubuntu" bold;
            font-size: 14px !important;
            max-width: 80px !important;
            top: 0px !important;
            position: relative !important;
            left: 0 !important;
            bottom: 0 !important;
            margin-left: -186px;
          }
        }
      }
    }
  }
  .sing_up {
    max-width: 850px !important;
    margin-top: -180px !important;
    h1 {
      font-size: 22px !important;
      left: 150px !important;
    }

    h2 {
      font-size: 16px !important;
      left: 50px !important;
    }
  }
  .sing_up input {
    max-width: 525px;
    height: 50px;
    position: relative;
    bottom: 150px !important;
    margin-left: 120px !important;

    input::placeholder {
      color: #eaeaea;
      opacity: 0.7;
    }
  }
  .btn-accept2 {
    font-size: 18px;
    max-width: 100px;
    border-radius: 5px;
    margin-right: 250px !important;
    margin-top: -200px !important;
  }
}
@media only screen and (max-width: 777px) {
  .why {
    .t_a {
      margin-left: 0px !important;
      position: relative !important;
      left: -50px !important;
    }
    .left_side {
      max-width: 700px !important;
      height: 780px;
      margin-left: 240px !important;
      position: relative;
      bottom: 100px;
      display: block;
      img {
        position: relative;
        top: 5px;
        right: 10px;
      }

      h2 {
        color: #4c5767;
        font-size: 19px;
        padding: 20px;
      }
      p {
        color: #9499a2;
        margin-left: 17px !important;
      }
    }

    .rigth_side {
      display: none !important;
    }
  }
  .why_different {
    background-size: contain !important;
    background-repeat: no-repeat;
    top: -170px !important;
    height: 700px !important;
    h1 {
      left: 200px !important;
      font-size: 28px !important;
      top: 0 !important;
    }
    h2 {
      color: #4c5767;
      font-size: 22px;
      margin-top: 80px !important;
      margin-left: 50px !important;
    }
    p {
      color: #9499a2;
      font-size: 14px !important;
      margin-left: 60px !important;
      margin-top: 20px;
      width: 360px !important;
    }
    .slide {
      margin-top: 130px !important;
      margin-left: 200px !important;
    }
    .bl {
      padding: 10px;
      right: 60px;
      top: 28px !important;
      position: relative;
      display: block;
    }
  }
  .sing_up {
    max-width: 777px !important;
    margin-top: -180px !important;
    h1 {
      font-size: 22px !important;
      left: 150px !important;
    }

    h2 {
      font-size: 14px !important;
      left: 50px !important;
      width: 300px !important;
      margin-left: 100px !important;
    }
  }
  .sing_up input {
    max-width: 525px;
    height: 50px;
    position: relative;
    bottom: 150px !important;
    margin-left: 120px !important;

    input::placeholder {
      color: #eaeaea;
      opacity: 0.7;
    }
  }
  .btn-accept2 {
    font-size: 18px;
    max-width: 100px;
    border-radius: 5px;
    margin-right: 150px !important;
    margin-top: -200px !important;
  }
}
@media only screen and (max-width: 720px) {
  .wrapper {
    max-width: 720px;
    .banner {
      &_clouds_with_iphone {
        background: none !important;
        height: 344px !important;
        top: 100px !important;
      }

      &_clouds_with_iphone img {
        right: 492px !important;

        height: 400px !important;
      }

      &_left {
        right: 90px !important;

        h1 {
          font-size: 30px !important;
        }

        p {
          font-size: 16px !important;
          margin-top: 35px !important;
        }
        .form {
          .btn-accept {
            cursor: pointer;
            font: "Ubuntu" bold;
            font-size: 14px !important;
            max-width: 80px !important;
            position: relative !important;
            margin-left: -186px;
            bottom: 100px !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 660px) {
  .why {
    .t_a {
      margin-left: 0px !important;
      position: relative !important;
      left: -90px !important;
    }
    .left_side {
      max-width: 700px !important;
      height: 780px;
      margin-left: 180px !important;
      position: relative;
      bottom: 100px;
      display: block;
      img {
        position: relative;
        top: 5px;
        right: 10px;
      }

      h2 {
        color: #4c5767;
        font-size: 19px;
        padding: 20px;
      }
      p {
        color: #9499a2;
        margin-left: 17px !important;
      }
    }

    .rigth_side {
      display: none !important;
    }
  }
  .why_different {
    top: -170px !important;
    h1 {
      left: 150px !important;
      font-size: 24px !important;
      top: 0 !important;
    }
    h2 {
      font-size: 20px !important;
      margin-top: 30px !important;
      margin-left: 20px !important;
    }
    p {
      color: #9499a2;
      font-size: 14px !important;
      margin-left: 20px !important;
      margin-top: 20px;
      width: 360px !important;
    }
    .slide {
      margin-top: 120px !important;
      margin-left: 200px !important;
    }
    .bl {
      padding: 10px;
      right: 60px;
      top: 28px !important;
      position: relative;
      display: block;
    }
  }
  .sing_up {
    max-width: 660px !important;
    margin-top: -180px !important;
    h1 {
      font-size: 22px !important;
      left: 100px !important;
    }

    h2 {
      font-size: 14px !important;
      left: 0px !important;
      width: 300px !important;
      margin-left: 100px !important;
    }
  }
  .sing_up input {
    max-width: 290px !important;
    height: 40px;
    position: relative;
    bottom: 150px !important;
    margin-left: 120px !important;

    input::placeholder {
      color: #eaeaea;
      opacity: 0.7;
    }
  }
  .btn-accept2 {
    font-size: 18px;
    max-width: 100px;
    border-radius: 5px;
    margin-right: 350px !important;
    margin-top: -130px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}
@media only screen and (max-width: 540px) {
  .wrapper {
    max-width: 540px;
    .banner {
      &_clouds_with_iphone {
        background: none !important;
        height: 144px !important;
        width: 100%;
        top: 100px !important;
      }
      &_clouds_with_iphone img {
        right: 272px !important;
        top: 1px !important;
        height: 400px !important;
      }

      &_left {
        right: 0px !important;
        left: 57px !important;
        h1 {
          font-size: 30px !important;
        }

        p {
          font-size: 14px !important;
          margin-top: 35px !important;
        }
        .form {
          .sing {
            margin-top: 30px;
            background-size: contain;
            max-width: 100px;
            left: 10px !important;
            position: relative;
          }
          .btn-accept {
            left: 0px !important;
            bottom: 0px !important;
            margin-left: -186px;
          }
        }
      }
    }
    .why {
      .t_a {
        margin-left: 0px !important;
        position: relative !important;
        left: 90px !important;
        font-size: 30px !important;
      }
      .left_side {
        max-width: 300px !important;
        height: 780px;
        margin-left: 40px !important;
        position: relative;
        bottom: 100px;
        display: block;
        img {
          position: relative;
          top: 5px;
          right: 10px;
        }

        h2 {
          color: #4c5767;
          font-size: 19px;
          padding: 20px;
        }
        p {
          color: #9499a2;
          margin-left: 17px !important;
        }
      }

      .rigth_side {
        display: none !important;
      }
      .circles {
        position: relative !important;
        right: 30px !important;
      }
    }
  }
  .why_different {
    top: -170px !important;
    img {
      display: none !important;
    }
    h1 {
      left: 100px !important;
      font-size: 22px !important;
      top: 0 !important;
    }
    h2 {
      font-size: 18px !important;
      margin-top: 30px !important;
      margin-left: 20px !important;
    }
    p {
      color: #9499a2;
      font-size: 14px !important;
      margin-left: 20px !important;
      margin-top: 20px;
      width: 300px !important;
    }
    .slide {
      margin-top: -60px !important;
      margin-left: 200px !important;
      a {
        text-decoration: none;
        color: #9499a2;
        position: relative;
        bottom: 130px;
        font-size: 16px !important;
      }
    }
    .bl {
      padding: 10px;
      right: 60px !important;
      top: 23px !important;
      position: relative;
      display: block;
      a {
        font-size: 16px !important;
      }
    }
  }
  .sing_up {
    max-width: 660px !important;
    margin-top: -180px !important;
    h1 {
      font-size: 22px !important;
      left: 50px !important;
    }

    h2 {
      font-size: 14px !important;
      left: -50px !important;
      width: 280px !important;
      margin-left: 100px !important;
    }
  }
  .sing_up input {
    max-width: 290px !important;
    height: 40px;
    position: relative;
    bottom: 150px !important;
    margin-left: 20px !important;

    input::placeholder {
      color: #eaeaea;
      opacity: 0.7;
    }
  }
  .btn-accept2 {
    font-size: 18px;
    max-width: 100px;
    border-radius: 5px;
    margin-right: 150px !important;
    margin-top: -130px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}
@media only screen and (max-width: 440px) {
  .wrapper {
    max-width: 440px;
    .banner {
      &_clouds_with_iphone img {
        right: 282px !important;
        top: 1px !important;
        height: 400px !important;
      }

      &_left {
        right: 10px !important;
        left: 0px !important;
        h1 {
          font-size: 28px !important;
        }

        p {
          font-size: 14px !important;
          margin-top: 35px !important;
        }
        .form {
          .sing {
            margin-top: 30px;
            background-size: contain;
            max-width: 100px;
            left: 10px !important;
            position: relative;
          }
          input {
            max-width: 250px !important;
            margin-left: 40px !important;
          }
          .btn-accept {
            left: 0px !important;
            bottom: 0px !important;
            margin-left: -146px;
          }
        }
      }
    }
    .why_different {
      top: -170px !important;
      img {
        display: none !important;
      }
      h1 {
        left: 40px !important;
        font-size: 20px !important;
        top: 0 !important;
      }
      h2 {
        font-size: 16px !important;
        margin-top: 30px !important;
        margin-left: 20px !important;
      }
      p {
        color: #9499a2;
        font-size: 12px !important;
        margin-left: 20px !important;
        margin-top: 20px;
        width: 300px !important;
      }
      .slide {
        margin-top: -25px !important;
        margin-left: 150px !important;
        a {
          text-decoration: none;
          color: #9499a2;
          position: relative;
          bottom: 130px;
          font-size: 16px !important;
          margin-right: 20px !important;
        }
      }
      .bl {
        padding: 10px;
        right: 40px !important;
        top: 23px !important;
        position: relative;
        display: block;
        a {
          font-size: 16px !important;
        }
      }
    }
  }
}
